/* Footer */

.footer-gr {
    width: 100%;
    height: 300px;
    background-color: rgb(6,32,71);
    display: flex;
    justify-content: left;
}

.footer-gr__logo {
    margin-top: 36px;
    margin-left: 130px;
}

.footer-gr__menu {
    color: white;
    margin-top: 36px;
    margin-left: 150px;
    line-height: 40px;
}

.footer-gr__menu__list {
    list-style: none;
}

/* Efeitos Links */

footer a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited {
    color: white;
    text-decoration: none;
}