/* Imagem Fundo */

.signup::before {
    content: "";
    top: 100px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    background-image: url("../../../img/background_login.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.06;
    z-index: -1;
}

/* Caixa Cadastro */

.signup-box {
    display: block;
    width: 1030px;
    height: 693px;
    border: 0.1px solid white;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 8px gray;
    z-index: 1;
}

.signup-box__name {
    float: left;
    margin-top: 50px;
    margin-left: 48px;
}

.signup-box__logo {
    float: right;
    margin-top: 40px;
    margin-right: 35px;
}

.signup-box__divider {
    display: block;
    position: absolute;
    width: 970px;
    margin-top: 78px;
    margin-left: 30px;
    margin-right: 30px;
}

/* Entrada de Dados Cadastro */

.signup-input {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 20px;
    column-gap: 50px;
    margin-top: 54px;
    margin-left: 99px;
}

.signup-input__main{
    grid-column: 1 / span 3;
}

.signup-input__name{
    margin-top: 70px;
    grid-row: 3;
}

.signup-input__place{
    grid-row: 4;
}

.signup-alert {
    text-align: center;
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.signup-input__button {
    display: block;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}

.signup-input__divider {
    display: block;
    position: absolute;
    width: 970px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}