{% extends 'base2.html' %}
{% load static %}

{% block title %}VPSystem - Alimentador 01{% endblock %}

<body>
    {% block content %}
    <div class="se-startinput">
        <div class="se-startinput__unifilar">
            <img src="{% static 'img/substation/al1.png' %}">
            
            <div class="se-startinput__unifilar--status">
                <p>Posição Inicial</p>
                <input type="radio" name="estado-equip" value="0">
                <label>Aberto</label>
                <input type="radio" name="estado-equip" value="1">
                <label>Fechado</label>
            </div>
        </div>

        <div class="se-startinput__VI">
            <table>
                <tr>
                    <th></th>
                    <th>Módulo</th>
                    <th>Ângulo</th>
                    <th></th>
                </tr>
                <tr>
                    <td>IA= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td><input type="number" class="input-sm"></td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>IB= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td><input type="number" class="input-sm"></td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>IC= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td><input type="number" class="input-sm"></td>
                    <td>A</td>
                </tr>
                <tr>
                    <td>VA= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td><input type="number" class="input-sm"></td>
                    <td>V</td>
                </tr>
                <tr>
                    <td>VB= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td><input type="number" class="input-sm"></td>
                    <td>V</td>
                </tr>
                <tr>
                    <td>VC= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td><input type="number" class="input-sm"></td>
                    <td>V</td>
                </tr>
            </table>
        </div>

        <div class="se-startinput__leds">
            <table class="se-startinput__leds--table">
                <tr>
                    <th></th>
                    <th>Sinalizações</th>
                </tr>
                <tr>
                    <td>LED01= </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>LED02= </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>LED03= </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>LED04= </td>
                    <td><input type="text"></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="al1-divisor div-sm__gray"></div>

    <h1 class="title-bold-lg se-protection__title">Unidade de Proteção</h1>

    <div class="se-protection">

        <div class="se-protection__transformer">
            <div class="se-protection__transformer--title title-bold">1. RELAÇÕES DE TRANSFORMAÇÃO</div>
            <table>
                <tr>
                    <td>RTC= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 500</td>
                </tr>
                <tr>
                    <td>RTP= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 500</td>
                </tr>
            </table>
        </div>

        <div class="se-protection__inst">
            <div class="se-protection__inst--title title-bold">2. SOBRECORRENTE INSTANTÂNEA (50)</div>
            <table>
                <tr>
                    <td>50PP= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 500, OFF</td>
                </tr>
                <tr>
                    <td>50PD= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0,00 - 2,00</td>
                </tr>
                <tr>
                    <td>50NP= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 500, OFF</td>
                </tr>
                <tr>
                    <td>50ND= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0,00 - 2,00</td>
                </tr>
            </table>
        </div>

        <div class="se-protection__temp">
            <div class="se-protection__temp--title title-bold">3. SOBRECORRENTE TEMPORIZADA (51)</div>
            <table>
                <tr>
                    <td>51PP= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 500, OFF</td>
                </tr>
                <tr>
                    <td>51PC= </td>
                    <td><input type="text" class="input-sm"></td>
                    <td>I, VI, EI</td>
                </tr>
                <tr>
                    <td>51PD= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0 - 60s</td>
                </tr>
                <tr>
                    <td>51NP= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 500, OFF</td>
                </tr>
                <tr>
                    <td>51NC= </td>
                    <td><input type="text" class="input-sm"></td>
                    <td>I, VI, EI</td>
                </tr>
                <tr>
                    <td>51ND= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0 - 60s</td>
                </tr>
            </table>
        </div>

        <div class="se-protection__relig">
            <div class="se-protection__relig--title title-bold">4. RELIGAMENTO (79)</div>
            <table>
                <tr>
                    <td>79EN= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 4, OFF</td>
                </tr>
                <tr>
                    <td>79T1= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0 - 300</td>
                </tr>
                <tr>
                    <td>79T2= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0 - 300</td>
                </tr>
                <tr>
                    <td>79T3= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0 - 300</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="al1-divisor div-sm__gray"></div>

    <h1 class="title-bold-lg se-control__title">Unidade de Controle</h1>
    <div class="se-control">
        <div class="se-control__varbi">
            <div class="se-control__varbi--title title-bold">1. VARIÁVEIS BINÁRIAS</div>
            <table>
                <tr>
                    <td>BV01= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV02= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV03= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV04= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV05= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV06= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV07= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV08= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV09= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV10= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
            </table>
        </div>

        <div class="se-control__varana">
            <div class="se-control__varana--title title-bold">2. VARIÁVEIS ANALÓGICAS</div>
            <table>
                <tr>
                    <td>AV01= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV02= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV03= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV04= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV05= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV06= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV07= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV08= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV09= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV10= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
            </table>
        </div>

        <div class="se-control__biest">
            <div class="se-control__biest--title title-bold">3. BIESTÁVEIS</div>
            <table>
                <tr>
                    <td>SET01= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>RST01= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>SET02= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>RST02= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>SET03= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>RST03= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>SET04= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>RST04= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>SET05= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>RST05= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
            </table>
        </div>

        <div class="se-control__timer">
            <div class="se-control__timer--title title-bold">4. TEMPORIZAÇÕES</div>
            <table>
                <tr>
                    <td>TM01= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM02= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM03= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM04= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM05= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM06= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM07= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM08= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM09= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM10= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
            </table>
        </div>

        <div class="se-control__outputs">
            <div class="se-control__outputs--title title-bold">5. SAÍDAS BINÁRIAS</div>
            <table>
                <tr>
                    <td>ABRIR= </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>FECHAR= </td>
                    <td><input type="text"></td>
                </tr>
            </table>
        </div>

        <div class="se-control__torque">
            <div class="se-control__torque--title title-bold">6. CONTROLES DE TORQUE</div>
            <table>
                <tr>
                    <td>50PEC= </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>50NEC= </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>51PEC= </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>51NEC= </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>79BLQ= </td>
                    <td><input type="text"></td>
                </tr>
            </table>
        </div>

        <div class="se-control__goose">
            <div class="se-control__goose--title title-bold">7. COMUNICAÇÃO GOOSE</div>
            <p>Acesso à página de<br>
                parametrização<br> 
                de comunicação entre<br>
                equipamentos
            </p>
            <button class="se-control__goose--button btn-lg"><i class="fa-solid fa-diagram-project"></i>&nbsp;GOOSE</button>
        </div>
    </div>

    {% endblock %}
</body>