{% extends 'base2.html' %}
{% load static %}

{% block title %}VPSystem - Subestação{% endblock %}

<body>
    {% block content %}
    <section class="system">

        <div class="system__unifilar">
          {% include 'unifilar.html' %}
        </div>

    </section>

    <div class="sesimu-divisor div-sm__gray"></div>

    <div class="title-operation title-bold-lg">Unidades de Operação</div>

    <section class="operation">
        <form class="operation__equip-select" method="POST">
            <div>
                <input type="radio" name="equipament" checked="checked" value="1">
                <label>AL-1</label>
            </div>
            <div>
                <input type="radio" name="equipament" value="2">
                <label>AL-2</label>
            </div>
            <div>
                <input type="radio" name="equipament" value="3">
                <label>AL-3</label>
            </div>
            <div>
                <input type="radio" name="equipament" value="4">
                <label>BT-1</label>
            </div>
            <div>
                <input type="radio" name="equipament" value="5">
                <label>AT-1</label>
            </div>
            <div>
                <input type="radio" name="equipament" value="6">
                <label>TR-1</label>
            </div>
            <div>
                <input type="radio" name="equipament" value="7">
                <label>LT-1</label>
            </div>
            <div>
                <input type="radio" name="equipament" value="8">
                <label>LT-2</label>
            </div>
        </form>

        {% include 'subestacao_boxequip/box_al1.html' %}
        {% include 'subestacao_boxequip/box_al2.html' %}
        {% include 'subestacao_boxequip/box_al3.html' %}
        {% include 'subestacao_boxequip/box_bt1.html' %}
        {% include 'subestacao_boxequip/box_at1.html' %}
        {% include 'subestacao_boxequip/box_tr1.html' %}
        {% include 'subestacao_boxequip/box_lt1.html' %}
        {% include 'subestacao_boxequip/box_lt2.html' %}

        <div class="operation-save">
            <button class="btn-lg"><i class="fa-solid fa-floppy-disk"></i>&nbsp;Salvar</button><br><br>
            <input class="input-lg" type="text" placeholder="nome da simulação">
        </div>

        <div class="operation-run">
            <button class="operation-run__button btn-lg"><i class="fa-solid fa-play"></i>&nbsp;Executar</button><br><br>
            <div>Tempo de Execução: 00min00s000ms</div>
        </div>

        <div class="operation__ser">
            <p class="operation__ser--title title-bold">Eventos</p>
            <table class="operation__ser--table">
                <tr>
                    <th>Equip.</th>
                    <th>Variável</th>
                    <th>Status</th>
                    <th>Tempo</th>
                </tr>
                <tr>
                    <td>AL-1</td>
                    <td>LT01</td>
                    <td>Ativada</td>
                    <td>00:00:00</td>
                </tr>
                <tr>
                    <td>AL-1</td>
                    <td>LT01</td>
                    <td>{{ rele_50f }}</td>
                    <td>00:00:00</td>
                </tr>
            </table>
        </div>

    </section>

    {% endblock %}

</body>