<body>
    <h1 class="title-bold-lg se-protection__title">Unidade de Proteção</h1>

    <div class="se-protection">

        <div class="se-protection__transformer">
            <div class="se-protection__transformer--title title-bold">1. RELAÇÕES DE TRANSFORMAÇÃO</div>
            <table>
                <tr>
                    <td>RTC= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 500</td>
                </tr>
                <tr>
                    <td>RTP= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 500</td>
                </tr>
            </table>
        </div>

        <div class="se-protection__inst">
            <div class="se-protection__inst--title title-bold">2. SOBRECORRENTE INSTANTÂNEA (50)</div>
            <table>
                <tr>
                    <td>50PP= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 500, OFF</td>
                </tr>
                <tr>
                    <td>50PD= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0,00 - 2,00</td>
                </tr>
                <tr>
                    <td>50NP= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 500, OFF</td>
                </tr>
                <tr>
                    <td>50ND= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0,00 - 2,00</td>
                </tr>
            </table>
        </div>

        <div class="se-protection__temp">
            <div class="se-protection__temp--title title-bold">3. SOBRECORRENTE TEMPORIZADA (51)</div>
            <table>
                <tr>
                    <td>51PP= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 500, OFF</td>
                </tr>
                <tr>
                    <td>51PC= </td>
                    <td><input type="text" class="input-sm"></td>
                    <td>I, VI, EI</td>
                </tr>
                <tr>
                    <td>51PD= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0 - 60s</td>
                </tr>
                <tr>
                    <td>51NP= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 500, OFF</td>
                </tr>
                <tr>
                    <td>51NC= </td>
                    <td><input type="text" class="input-sm"></td>
                    <td>I, VI, EI</td>
                </tr>
                <tr>
                    <td>51ND= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0 - 60s</td>
                </tr>
            </table>
        </div>

        <div class="se-protection__relig">
            <div class="se-protection__relig--title title-bold">4. RELIGAMENTO (79)</div>
            <table>
                <tr>
                    <td>79EN= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>1 - 4, OFF</td>
                </tr>
                <tr>
                    <td>79T1= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0 - 300</td>
                </tr>
                <tr>
                    <td>79T2= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0 - 300</td>
                </tr>
                <tr>
                    <td>79T3= </td>
                    <td><input type="number" class="input-sm"></td>
                    <td>0 - 300</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="al1-divisor div-sm__gray"></div>

</body>