<h1 class="title-bold-lg se-control__title">Unidade de Controle</h1>
    <div class="se-control">
        <div class="se-control__varbi">
            <div class="se-control__varbi--title title-bold">1. VARIÁVEIS BINÁRIAS</div>
            <table>
                <tr>
                    <td>BV01= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV02= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV03= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV04= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV05= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV06= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV07= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV08= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV09= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>BV10= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
            </table>
        </div>

        <div class="se-control__varana">
            <div class="se-control__varana--title title-bold">2. VARIÁVEIS ANALÓGICAS</div>
            <table>
                <tr>
                    <td>AV01= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV02= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV03= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV04= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV05= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV06= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV07= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV08= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV09= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>AV10= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
            </table>
        </div>

        <div class="se-control__biest">
            <div class="se-control__biest--title title-bold">3. BIESTÁVEIS</div>
            <table>
                <tr>
                    <td>SET01= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>RST01= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>SET02= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>RST02= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>SET03= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>RST03= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>SET04= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>RST04= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>SET05= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
                <tr>
                    <td>RST05= </td>
                    <td><input type="text" class="input-md"></td>
                </tr>
            </table>
        </div>

        <div class="se-control__timer">
            <div class="se-control__timer--title title-bold">4. TEMPORIZAÇÕES</div>
            <table>
                <tr>
                    <td>TM01= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM02= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM03= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM04= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM05= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM06= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM07= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM08= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM09= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
                <tr>
                    <td>TM10= </td>
                    <td><input type="number" class="input-sm"></td>
                </tr>
            </table>
        </div>

        <div class="se-control__outputs">
            <div class="se-control__outputs--title title-bold">5. SAÍDAS BINÁRIAS</div>
            <table>
                <tr>
                    <td>ABRIR= </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>FECHAR= </td>
                    <td><input type="text"></td>
                </tr>
            </table>
        </div>

        <div class="se-control__torque">
            <div class="se-control__torque--title title-bold">6. CONTROLES DE TORQUE</div>
            <table>
                <tr>
                    <td>50PEC= </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>50NEC= </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>51PEC= </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>51NEC= </td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td>79BLQ= </td>
                    <td><input type="text"></td>
                </tr>
            </table>
        </div>

        <div class="se-control__goose">
            <div class="se-control__goose--title title-bold">7. COMUNICAÇÃO GOOSE</div>
            <p>Acesso à página de<br>
                parametrização<br> 
                de comunicação entre<br>
                equipamentos
            </p>
            <button class="se-control__goose--button btn-lg"><i class="fa-solid fa-diagram-project"></i>&nbsp;GOOSE</button>
        </div>
    </div>