/* --- Unifilar --- */

.se-startinput {
    margin-top: 70px;
    display: flex;
    justify-content: center;

}

.se-startinput__unifilar{
    margin-right: 100px;
}

.se-startinput__unifilar--status{
    margin-left: 100px;
}

.se-startinput__unifilar--status p{
    font-weight: bold;
    margin-left: 28px;
}

.se-startinput__unifilar--status input{
    margin-left: 5px;
    margin-right: 5px;
}

/* --- Entradas: Corrente e Tensão --- */

.se-startinput__VI{
    margin-right: 100px;
}

.se-startinput__VI th {
    text-align: center;
}

/* --- Entradas: Equações de LED's --- */

.se-startinput__leds{
    border: 1px solid gray;
    width: 340px;
    height: 180px;
    box-shadow: 2px 5px 10px gray;
}

.se-startinput__leds--table{
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
}

.se-startinput__leds th {
    text-align: left;
}

.se-startinput__leds td{
    padding-top: 6px;
    padding-bottom: 6px;
}

.al1-divisor{
    width: 95%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* --- Unidade de Proteção --- */

.se-protection{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.se-protection__title{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}


/* -- Relações de Transformação -- */
.se-protection__transformer{
    width: 220px;
    height: 295px;
    box-shadow: 2px 5px 10px gray;
    margin-left: 20px;
    margin-right: 20px;
}

.se-protection__transformer table{
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.se-protection__transformer--title{
    padding-top: 15px;
    text-align: center;
}


/* -- Função 50 -- */
.se-protection__inst{
    width: 400px;
    height: 295px;
    box-shadow: 2px 5px 10px gray;
    margin-right: 20px;
}

.se-protection__inst table{
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

.se-protection__inst td{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
}

.se-protection__inst--title{
    padding-top: 15px;
    text-align: center;
}


/* -- Função 51 -- */
.se-protection__temp{
    width: 400px;
    height: 295px;
    box-shadow: 2px 5px 10px gray;
    margin-right: 20px;
}

.se-protection__temp table{
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

.se-protection__temp td{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
}

.se-protection__temp--title{
    padding-top: 15px;
    text-align: center;
}


/* -- Função 79 -- */
.se-protection__relig{
    width: 232px;
    height: 295px;
    box-shadow: 2px 5px 10px gray;
    margin-right: 20px;
}

.se-protection__relig table{
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

.se-protection__relig td{
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: left;
}

.se-protection__relig--title{
    padding-top: 15px;
    text-align: center;
}

/* --- Unidade de Controle --- */

.se-control{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.se-control__title{
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}


/* -- Variáveis Binárias -- */
.se-control__varbi{
    width: 316px;
    height: 430px;
    box-shadow: 2px 5px 10px gray;
}

.se-control__varbi table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.se-control__varbi td{
    padding-top: 3px;
    padding-bottom: 3px;
}

.se-control__varbi--title{
    padding-top: 25px;
    text-align: center;
}

/* -- Variáveis Analógicas -- */
.se-control__varana{
    width: 316px;
    height: 430px;
    box-shadow: 2px 5px 10px gray;
}

.se-control__varana table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.se-control__varana td{
    padding-top: 3px;
    padding-bottom: 3px;
}

.se-control__varana--title{
    padding-top: 25px;
    text-align: center;
}

/* -- Variáveis Biestáveis -- */
.se-control__biest{
    width: 316px;
    height: 430px;
    box-shadow: 2px 5px 10px gray;
}

.se-control__biest table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.se-control__biest td{
    padding-top: 3px;
    padding-bottom: 3px;
}

.se-control__biest--title{
    padding-top: 25px;
    text-align: center;
}

/* -- Temporizações -- */
.se-control__timer{
    width: 200px;
    height: 430px;
    box-shadow: 2px 5px 10px gray;
}

.se-control__timer table{
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.se-control__timer td{
    padding-top: 3px;
    padding-bottom: 3px;
}

.se-control__timer--title{
    padding-top: 25px;
    text-align: center;
}