<div class="box_equipamento" id="equip7">
    <div class="title-bold">LT-1</div>
    <div class="operation__IHM">
        <div class="operation__measures" hidden>
            VA = 0.00 ∠ 0.00 <br>
            VB = 0.00 ∠ 0.00 <br>
            VC = 0.00 ∠ 0.00 <br>
            IA = 0.00 ∠ 0.00 <br>
            IB = 0.00 ∠ 0.00 <br>
            IC = 0.00 ∠ 0.00 <br>
            IN = 0.00 ∠ 0.00 <br>
        </div>

        <div class="operation__buttons">
            <button class="buttons__relay-command"></button>
            <div class="buttons__name">BT01</div>
            <button class="buttons__relay-command"></button>
            <div class="buttons__name">BT02</div>
            <button class="buttons__relay-command"></button>
            <div class="buttons__name">BT03</div>
            <button class="buttons__relay-command"></button>
            <div class="buttons__name">BT04</div>
        </div>

        <div class="operation__leds">
            <div class="leds__relay"></div>
            <div>LED01</div>
            <div class="leds__relay"></div>
            <div>LED02</div>
            <div class="leds__relay"></div>
            <div>LED03</div>
            <div class="leds__relay"></div>
            <div>LED04</div>
        </div>
    </div>
</div>