/* --- Divisor Grande --- */

.div-lg{
    height: 0px;
    border: 4px solid rgb(6,32,71);
}

/* --- Divisor Pequeno --- */

.div-sm{
    height: 0px;
    border: 1px solid rgb(6,32,71);
}

.div-sm__gray{
    height: 0px;
    border: 1px solid rgb(128,128,128);
    opacity: 0.5;
}