{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
<body>
    {% block content %}

    <section class="login">
        <div class="login-box">
            <div class="login-header">
                <span class="name-login title-normal">Login</span>
                <div class="mini-logo"><img src="{% static 'img/logo.png' %}"></div>
                <div class="divider-lg"></div>
            </div>

            <form id="form-login" class="login-input" method="POST">
                {% csrf_token %}
                <label class="title-normal" >E-mail:</label>
                <input class="input_text-sm" placeholder="Insira seu e-mail" type="text" name="email"><br>
                <label class="title-normal">Senha:</label>
                <input class="input_text-sm" placeholder="Insira sua senha" type="password" name="password">
            </form>
            <button form="form-login" class="button-login btn-lg" type="submit">Login</button>
            <div class="divider-sm"></div>

            <div class="subscribe">
                <p class="title-normal">Novo por aqui?</p>
                <span><a href="#">CRIE SUA CONTA</a></span>
            </div>
        </div>
    </section>
    {% endblock %}

</body>