{% extends 'base.html' %}
{% load static %}

{% block title %}Meu Perfil{% endblock %}
<body>
    {% block content %}

    <div class="profile">
        <span class="title-bold-lg">Espaço do Usuário</span>
        <div class="profile__logo"><img src="../../static/img/logo.png"></div>
        <div class="profile__divider div-lg"></div>
    </div>
    <div class="profile-data">
        <p class="profile-data__left title-underline">Dados Pessoais</p>
        <p class="profile-data__left title-bold">Nome: <span class="title-normal">{{ user.first_name }} {{ user.last_name }}</span></p>
        <p class="profile-data__left title-bold">E-mail: <span class="title-normal">{{ user.email }}</span></p>
        <p class="profile-data__left title-bold">Data de Cadastro: <span class="title-normal">{{ user.date_joined.date }}</span></p>
        <p class="profile-data__right--1 title-bold">Cidade: <span class="title-normal">{{ user.cidade }}</span></p>
        <p class="profile-data__right--2 title-bold">Estado: <span class="title-normal">{{ user.estado }}</span></p>
        <p class="profile-data__right title-bold">País: <span class="title-normal">{{ user.pais }}</span></p>
    </div>
    <div class="change-buttons">
        <a class="btn-lg__link" href="{% url 'gerenciar_perfil' %}"><button class="change-buttons__profile btn-lg">Alterar Perfil</button></a>
        <a class="btn-lg__link" href="{% url 'alterar_senha' %}"><button class="change-buttons__password btn-lg">Alterar Senha</button></a>
    </div>
    <div class="profile-data-divider div-sm"></div>

    <div class="simulations">
        <span class="title-underline">Registro de Simulações</span>
        <table class="simu-table">
            <tr class="title-bold">
                <th>ID</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Última Atualização</th>
                <th>Ações</th>
            </tr>
        </table>

        <a href="{% url 'logout' %}"><button class="button-logout btn-sm" type="submit">Logout</button></a>
    </div>
    
    {% endblock %}
</body>
